<?xml version="1.0" ?>

<robot name="mini_cheetah" xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:macro name="abad" params="prefix x_sign y_sign">
        <joint name="torso_to_${prefix}_abad_j" type="continuous">
            <axis xyz="1 0 0"/>
            <origin rpy="0 0 0" xyz="${x_sign * 0.19} ${y_sign * 0.05} 0.0"/>
            <parent link="Floating Base"/>
            <child link="${prefix}_abad_link"/>
        </joint>

        <link name="${prefix}_abad_link">
            <inertial>
                <mass value="0.54"/>
                <origin xyz="0.0 ${y_sign * 0.036} 0."/>
                <inertia ixx="${381 * 1e-6}" ixy="${y_sign * 58 * 1e-6}" 
                         ixz="${0.45 * 1e-6}" iyy="${560 * 1e-6}" 
                         iyz="${y_sign * .95 * 1e-6}" izz="${444 * 1e-6}"/>
            </inertial>
            <!-- TODO(@MatthewChignoli): Do collision and visual stuff later -->
        </link>

        <joint name="torso_to_${prefix}_abad_rotor_j" type="continuous" independent="false">
            <axis xyz="1 0 0"/>
            <origin rpy="0 0 0" xyz="${x_sign * 0.125} ${y_sign * 0.049} 0.0"/>
            <parent link="Floating Base"/>
            <child link="${prefix}_abad_rotor"/>
        </joint>

        <link name="${prefix}_abad_rotor">
            <inertial>
                <mass value="0."/>
                <origin xyz="0. 0. 0."/>
                <inertia ixx="${63 * 1e-6}" ixy="0.0" 
                         ixz="0.0" iyy="${33 * 1e-6}" 
                         iyz="0.0" izz="${33 * 1e-6}"/>
            </inertial>
        </link>

        <constraint name="${prefix}_abad_tranmission" type="rolling">
            <predecessor link="${prefix}_abad_link"/>
            <successor link="${prefix}_abad_rotor"/>
            <predecessor_origin xyz="0.0 6.0 0.0"/>
            <successor_origin xyz="0.0 1.0 0.0"/>
        </constraint>

    </xacro:macro>

    <link name="Floating Base">
        <inertial>
            <mass value="3.3"/>
            <origin xyz="0.0 0.0 0.0"/>
            <inertia ixx="${11253 * 1e-6}" ixy="0" 
                     ixz="0" iyy="${36203 * 1e-6}" 
                     iyz="0" izz="${42673 * 1e-6}"/>
        </inertial>
    </link>

    <xacro:abad prefix="FR" x_sign="1" y_sign="-1"/>
    <xacro:abad prefix="FL" x_sign="1" y_sign="1"/>
    <xacro:abad prefix="HR" x_sign="-1" y_sign="-1"/>
    <xacro:abad prefix="HL" x_sign="-1" y_sign="1"/>

</robot>
